
#for streamlit
streamlit==1.2.0
streamlit-webrtc==0.31.3
aiortc==1.2.1
av

#for Deep learning model
tensorflow

#for handling image
mediapipe
cvzone
opencv-python-headless==4.5.4.60

#other
matplotlib
numpy
